article.activity.hentry
  .type= activity.verb
  .object.entry-title.entry-content= activity.content
  .link.bookmark
    a(href="/activity/" + activity.id)
      abbr.updated(title: activity.published_iso)= activity.published_ago
