!!! 5
html(lang='en')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery.js')
  body
    #container
      #header
        h1
          a(href='/')= title
        - if (user)
          nav
            ul
              li
                a(href="/settings") settings
              li
                a(href="/logout") logout
      #content!= body
      footer
        &copy 2011 
        a(href='http://walkah.net/') walkah