!!! 5
%html
  %head
    %title= "psychoti.ca!"
    %link{rel: 'stylesheet', href: '/stylesheets/style.css', type: 'text/css'}
  %body
    #header 
      %h1 psychoti.ca
    .post-form
      != partial('postform')
    != body