form(method='post', action='/login')
  .username
    label username
      input(type='text', name='username')
  .password
    label password
      input(type='password', name='password')
  .form-buttons
    input(type="submit", value="login")
