form(action="/settings", method="post")
  .form-element
    label Full Name
      input(type="text", name="fullname")
  .form-element
    label Bio
      input(type="text", name="bio")
  .form-element
    label Location
      input(type="text", name="location")