body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#container {
  width: 960px;
  margin: auto;
}

.activity {
  display: block;
  border-bottom: 1px solid #eee;
  padding: 20px 0;
}

.activity .type {
  float: left;
  width: 50px;
}

.activity .link {
  
}